.container {
    height: 80px;
    background-color: lightgray;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: 120px;
    height: 80px;
    /* background-color: brown; */
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}