* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* сделал специально не в body для удобства */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    max-width: 100%;
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.header {
    height: 150px;
    background-color: rgb(131, 219, 251);
    border-radius: 15px;
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 70px;
    background-color: rgb(246, 207, 246);
    border-radius: 15px;
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {

    flex: 1;
    /* магия вне хогвартса чтобы прижать футер вне зависимости от контента */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* Левый блок с section и article */
.left-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%
}

.section {
    background-color: rgb(217, 244, 208);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 52px;
}

.article {
    background-color: rgb(207, 207, 249);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 52px;
}

/* Правый блок aside */
.aside {
    flex: 1;
    background-color: rgb(247, 214, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 52px;
    width: 40%;
}


.footer {
    height: 150px;
    background-color: rgb(112, 248, 180);
    border-radius: 15px;
    font-size: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}