* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    background-color: aquamarine;
    padding: 10px 0;
    height: 200px;
    border: solid 10px black;
}

/* .inner {
    height: 100px;
    width: 100px;
    background-color: black;
} */
.header {
    background-color: gray;
    margin: 20px auto;
    width: 300px;
    /* margin-left: calc((100% - 300px) / 2); */
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
}